@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

#topBar {
  height: 25px;
  display: flex;
  justify-content: flex-end;
  background-color: black; }
  #topBar .miniRed {
    height: 100%; }
    #topBar .miniRed a img {
      height: 80%; }

header {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "logo navbar";
  background-color: #f8f9fa; }
  header #logoImagen {
    grid-area: logo; }
  header #logomenor {
    width: 100%; }
  header nav {
    width: 100% !important;
    background-color: #f8f9fa !important;
    grid-area: navbar; }
    header nav .container-fluid {
      justify-content: flex-end !important; }
    header nav .nav-link {
      color: black !important; }
    header nav .nav-link:hover {
      color: orange !important; }
    header nav li {
      justify-content: flex-end !important;
      width: 100%;
      padding-right: 50px; }
      header nav li a {
        text-align: center;
        text-decoration: none;
        font-size: 2vw;
        font-family: 'Alfa Slab One', cursive;
        color: #f8f9fa; }

body {
  background-color: #faecd2; }

#imagenHome {
  width: 100%;
  height: 45vw;
  background-image: url(../img/carrusel/home3.jfif);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white; }
  #imagenHome h1 {
    height: 60%;
    padding-top: 20%;
    font-size: 4.5vw; }
  #imagenHome p {
    font-size: 2vw;
    width: 50%;
    margin: 0 auto; }

#seccionEstadistica {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #0000000F;
  opacity: 0.5; }
  #seccionEstadistica .cantidadEstadistica {
    font-size: 4.5vw;
    margin-bottom: 0px !important; }
  #seccionEstadistica .estadisticas {
    font-size: 2vw;
    margin-bottom: 0px !important;
    color: black; }

.fotoCarrusel {
  display: flex;
  width: 100%;
  height: 40vw;
  object-fit: cover;
  margin-bottom: 30px;
  object-position: 0% 35%; }

h1 {
  font-size: 3.5vw;
  text-align: center; }

#llamadoAccion {
  margin-bottom: 50px; }
  #llamadoAccion h3 {
    font-size: 2.5vw;
    text-align: center;
    width: 40%;
    margin: 0 auto; }
  #llamadoAccion form {
    margin: 0 auto; }
  #llamadoAccion #pasosForm {
    display: flex;
    justify-content: space-around;
    text-align: center; }
    #llamadoAccion #pasosForm div {
      width: 25%; }
      #llamadoAccion #pasosForm div .enumeracion {
        font-size: 4.5vw; }
      #llamadoAccion #pasosForm div .accion {
        font-size: 2vw; }

#seccionArticulos {
  margin-bottom: 70px; }
  #seccionArticulos #englobaArticulos {
    display: flex;
    justify-content: space-evenly; }
    #seccionArticulos #englobaArticulos div {
      margin: 1px solid black; }
    #seccionArticulos #englobaArticulos .articuloDestacado {
      padding: 10px;
      width: 25%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-areas: "imagen" "texto";
      align-items: center;
      justify-items: center; }
      #seccionArticulos #englobaArticulos .articuloDestacado img {
        grid-area: imagen;
        width: 80%;
        object-fit: contain; }
      #seccionArticulos #englobaArticulos .articuloDestacado article {
        text-align: center;
        width: 80%;
        font-size: 1vw;
        grid-area: texto; }

/* CONTACTO y Newsletter */
#contactForm, #imagenHome form, #llamadoAccion form, #formularioHome form, #secNewsletter {
  margin: 0 auto;
  font-size: 1.5vw;
  margin-bottom: 30px; }
  #contactForm span, #imagenHome form span, #llamadoAccion form span, #formularioHome form span, #secNewsletter span {
    font-size: 0.75vw; }
  #contactForm input, #imagenHome form input, #llamadoAccion form input, #formularioHome form input, #secNewsletter input,
  #contactForm label,
  #imagenHome form label,
  #llamadoAccion form label,
  #formularioHome form label,
  #secNewsletter label,
  #contactForm select,
  #imagenHome form select,
  #llamadoAccion form select,
  #formularioHome form select,
  #secNewsletter select,
  #contactForm textarea,
  #imagenHome form textarea,
  #llamadoAccion form textarea,
  #formularioHome form textarea,
  #secNewsletter textarea {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    display: block; }
  #contactForm #contactAsunto, #imagenHome form #contactAsunto, #llamadoAccion form #contactAsunto, #formularioHome form #contactAsunto, #secNewsletter #contactAsunto {
    height: 40px;
    font-size: 1.5vw; }
  #contactForm .obligatorio, #imagenHome form .obligatorio, #llamadoAccion form .obligatorio, #formularioHome form .obligatorio, #secNewsletter .obligatorio {
    font-size: 1vw;
    color: red; }
  #contactForm input[type='checkbox'], #imagenHome form input[type='checkbox'], #llamadoAccion form input[type='checkbox'], #formularioHome form input[type='checkbox'], #secNewsletter input[type='checkbox'] {
    display: inline;
    width: 1vw;
    height: 1vw;
    background-color: #f8f9fa;
    border-radius: 5px; }
  #contactForm input[type='reset'], #imagenHome form input[type='reset'], #llamadoAccion form input[type='reset'], #formularioHome form input[type='reset'], #secNewsletter input[type='reset'],
  #contactForm input[type='submit'],
  #imagenHome form input[type='submit'],
  #llamadoAccion form input[type='submit'],
  #formularioHome form input[type='submit'],
  #secNewsletter input[type='submit'] {
    margin: 0 auto;
    width: 20%;
    background-color: #39DBC0;
    color: white;
    border: white 1px solid;
    border-radius: 10px;
    cursor: pointer; }
  #contactForm #aceptarPoliticas, #imagenHome form #aceptarPoliticas, #llamadoAccion form #aceptarPoliticas, #formularioHome form #aceptarPoliticas, #secNewsletter #aceptarPoliticas {
    width: 35%;
    margin: 5px auto; }

h2 {
  text-align: center;
  font-size: 3.25vw;
  margin: 10px 0 20px 0; }

#formularioHome {
  justify-content: space-evenly; }
  #formularioHome div {
    font-size: 1.5vw; }
    #formularioHome div ul {
      list-style: none;
      display: grid;
      margin: 0 auto;
      grid-template-columns: 30% 30% 30%;
      justify-content: space-around; }
    #formularioHome div ul li:before {
      content: '✓ '; }
  #formularioHome form {
    margin-top: 10px;
    width: 50%; }
    #formularioHome form input[type='submit'],
    #formularioHome form .enviarForm {
      width: auto;
      margin-top: 5px;
      padding: 0 5px 0 5px; }

#secNewsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa; }
  #secNewsletter #newsletter {
    text-align: center;
    font-size: 1vw; }
    #secNewsletter #newsletter h3 {
      font-size: 2vw; }
    #secNewsletter #newsletter p {
      font-size: 1vw; }
    #secNewsletter #newsletter #newsletterEmail:focus {
      width: 60%; }

.galeriaPrincipal {
  display: grid;
  text-align: right;
  width: 70%;
  margin: 20px auto;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "imagen1 imagen1 imagen2 imagen2" "imagen1 imagen1 imagen2 imagen2" "imagen3 imagen4 imagen5 imagen6" "imagen7 imagen7 imagen8 imagen8" "imagen7 imagen7 imagen8 imagen8";
  align-items: center; }
  .galeriaPrincipal #imagenPrincipal {
    grid-area: imagen1; }
  .galeriaPrincipal #imagenSecundaria {
    grid-area: imagen2; }
  .galeriaPrincipal #imagenTerciaria {
    grid-area: imagen7; }
  .galeriaPrincipal #imagenCuarta {
    grid-area: imagen8; }
  .galeriaPrincipal .imagenGaleria {
    width: 100%; }
    .galeriaPrincipal .imagenGaleria img {
      width: 100%; }

/* NOSOTROS */
#owners {
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas: "owner1 texto1 " "texto2 owner2";
  justify-content: space-evenly;
  align-items: center; }
  #owners div h3 {
    padding: 10px;
    font-size: 2vw; }
  #owners div p {
    padding: 10px;
    font-size: 1.5vw; }

#ownerUno {
  width: 100%;
  grid-area: owner1; }
  #ownerUno img {
    width: 100%; }

#descripcionOwnerUno {
  grid-area: texto1; }

#ownerDos {
  width: 100%;
  grid-area: owner2; }
  #ownerDos img {
    width: 100%; }

#descripcionOwnerUno {
  grid-area: texto2; }

#colaboradores {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto;
  grid-template-areas: "colaboradorUno 			imagenColaboradorDos 	colaboradorTres" "imagenColaboradorUno 	colaboradorDos 			imagenColaboradorTres";
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px; }
  #colaboradores div img {
    width: 100%;
    transition: all 2s; }
  #colaboradores div img:hover {
    transform: scale(2, 2); }
  #colaboradores div p {
    width: 80%;
    margin: 0 auto;
    font-size: 1vw; }
  #colaboradores div h3 {
    font-size: 2vw; }

#descripcionColaboradorUno {
  grid-area: colaboradorUno; }

#descripcionColaboradorDos {
  grid-area: colaboradorDos; }

#descripcionColaboradorTres {
  grid-area: colaboradorTres; }

#colaboradorUno {
  grid-area: imagenColaboradorUno; }

#colaboradorDos {
  grid-area: imagenColaboradorDos; }

#colaboradorTres {
  grid-area: imagenColaboradorTres; }

#precios {
  width: 50%;
  display: block;
  margin: 0 auto; }
  #precios h2 {
    color: #f5772e; }
  #precios table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
    #precios table td,
    #precios table th {
      border: 1px solid black; }

footer {
  font-weight: 100;
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
  background-color: #f8f9fa;
  padding: 20px;
  color: black; }
  footer .piePagina {
    text-align: center; }
    footer .piePagina ul {
      position: relative;
      top: 0px;
      padding-left: 0px; }
      footer .piePagina ul li {
        list-style-type: none;
        font-size: 1vw;
        margin: 10px; }
      footer .piePagina ul li:hover {
        color: #f5772e; }
  footer div p {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 20px; }
  footer div .red-social {
    margin: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 0px;
    grid-template-areas: "imagen texto";
    align-items: center; }
    footer div .red-social img {
      grid-area: imagen;
      width: 100%; }
    footer div .red-social span {
      grid-area: texto;
      font-size: 1.5vw; }
    footer div .red-social span:hover {
      color: #f5772e; }
  footer #redes {
    width: 50%;
    margin: 0 auto; }

@media only screen and (max-width: 900px) {
  header {
    grid-template-columns: 30% 70%; }
    header .container-fluid {
      justify-content: flex-end; }
  #englobaArticulos {
    flex-direction: column;
    justify-content: center; }
  .articuloDestacado {
    width: 50%;
    height: 40vw;
    margin: 10px auto 0px auto; }
  .hide-mobile {
    display: none; }
  footer {
    height: auto; }
  #owners {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin: 5px auto 5px auto; } }

@media only screen and (max-width: 500px) {
  header {
    grid-template-columns: 40% 60%;
    align-items: center; }
  #englobaArticulos {
    flex-direction: column;
    justify-content: center; }
  .articuloDestacado {
    width: 50%;
    height: 40vw;
    margin: 10px auto 0px auto; }
  .hide-mobile {
    display: none; }
  footer {
    height: auto; }
  #owners {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin: 5px auto 5px auto; } }
