@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  height: auto;
  font-family: 'Inika', serif; }

#topBar {
  height: 25px;
  display: flex;
  justify-content: flex-end;
  background-color: black; }
  #topBar .mini-red {
    height: 100%; }
    #topBar .mini-red a img {
      height: 80%; }

header {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "logo navbar";
  background-color: #f8f9fa; }
  header #logo-imagen {
    grid-area: logo; }
  header #logo-menor {
    width: 100%; }
  header nav {
    width: 100% !important;
    background-color: #f8f9fa !important;
    grid-area: navbar; }
    header nav .container-fluid {
      justify-content: flex-end !important; }
    header nav .nav-link {
      color: black !important; }
      header nav .nav-link:hover {
        color: orange !important; }
    header nav li {
      justify-content: flex-end !important;
      width: 100%;
      padding-right: 50px; }
      header nav li a {
        text-align: center;
        text-decoration: none;
        font-size: 2.5rem;
        font-family: 'Inika', serif;
        color: #f8f9fa; }

body {
  background-color: #faecd2; }

h1 {
  padding-top: 20px;
  font-size: 3em;
  text-align: center;
  text-decoration: underline; }

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 10px 0 20px 0; }

p {
  margin-bottom: 0px !important; }

#imagen-home {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 40rem;
  background-image: url(../img/carrusel/home5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 1px 1px black; }
  #imagen-home h1 {
    padding-top: 20%;
    font-size: 4.5rem; }
  #imagen-home p {
    font-size: 1.5rem;
    margin: 0 auto; }
  #imagen-home form input[type="submit"] {
    font-size: 1.5rem; }

#stadistic-section {
  text-align: center;
  background-color: #0000000F;
  opacity: 0.5; }
  #stadistic-section .stadistic-amount {
    font-size: 3rem; }
  #stadistic-section .estadisticas {
    font-size: 2rem;
    color: black; }

.fotoCarrusel {
  display: flex;
  width: 100%;
  height: 40rem;
  object-fit: cover;
  margin-bottom: 30px;
  object-position: 50% 35%; }

#call-to-action {
  padding-bottom: 2vw; }
  #call-to-action h3 {
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    width: auto; }
  #call-to-action form {
    margin: 0 auto; }
    #call-to-action form input[type="submit"] {
      font-size: 1.5rem;
      width: auto !important;
      padding: 0px 5px 0px 5px; }
  #call-to-action #form-steps {
    text-align: center; }
    #call-to-action #form-steps div .enumeracion {
      font-size: 4.5rem; }
    #call-to-action #form-steps div .accion {
      font-size: 1.5rem; }

#article-section, #colab-section {
  width: 100%;
  margin: 0px 0px 70px 00px; }
  #article-section #article-surround img, #colab-section #article-surround img {
    width: 100%; }
  #article-section #article-surround article, #colab-section #article-surround article {
    text-align: center;
    padding-top: 10px; }
  #article-section #article-surround .article-main, #colab-section #article-surround .article-main {
    background-color: #f8f9fa;
    border: 1px solid black; }

#contacting-form, #imagen-home form, #call-to-action form, #home-form form, #newsletter-section {
  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 30px; }
  #contacting-form span, #imagen-home form span, #call-to-action form span, #home-form form span, #newsletter-section span {
    font-size: 0.75rem; }
  #contacting-form input, #imagen-home form input, #call-to-action form input, #home-form form input, #newsletter-section input,
  #contacting-form label,
  #imagen-home form label,
  #call-to-action form label,
  #home-form form label,
  #newsletter-section label,
  #contacting-form select,
  #imagen-home form select,
  #call-to-action form select,
  #home-form form select,
  #newsletter-section select,
  #contacting-form textarea,
  #imagen-home form textarea,
  #call-to-action form textarea,
  #home-form form textarea,
  #newsletter-section textarea {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    display: block;
    padding-left: 5px; }
  #contacting-form #contacting-topic, #imagen-home form #contacting-topic, #call-to-action form #contacting-topic, #home-form form #contacting-topic, #newsletter-section #contacting-topic {
    height: 40px;
    font-size: 1rem; }
  #contacting-form .obligatory, #imagen-home form .obligatory, #call-to-action form .obligatory, #home-form form .obligatory, #newsletter-section .obligatory {
    font-size: 0.75rem;
    color: red; }
  #contacting-form input[type='checkbox'], #imagen-home form input[type='checkbox'], #call-to-action form input[type='checkbox'], #home-form form input[type='checkbox'], #newsletter-section input[type='checkbox'] {
    display: inline;
    width: 1rem;
    background-color: #f8f9fa;
    border-radius: 5px; }
  #contacting-form input[type='reset'], #imagen-home form input[type='reset'], #call-to-action form input[type='reset'], #home-form form input[type='reset'], #newsletter-section input[type='reset'],
  #contacting-form input[type='submit'],
  #imagen-home form input[type='submit'],
  #call-to-action form input[type='submit'],
  #home-form form input[type='submit'],
  #newsletter-section input[type='submit'] {
    margin: 10px auto;
    width: 20%;
    background-color: #39DBC0;
    color: white;
    border: black 1px solid;
    border-radius: 10px;
    cursor: pointer; }
  #contacting-form .aceptar-politicas, #imagen-home form .aceptar-politicas, #call-to-action form .aceptar-politicas, #home-form form .aceptar-politicas, #newsletter-section .aceptar-politicas {
    text-align: center;
    margin: 5px auto;
    width: auto; }

/* CONTACTO y Newsletter */
#info-contacto {
  text-align: left;
  margin: 0 auto;
  width: 80%; }
  #info-contacto i {
    font-size: 3em; }

#mapa {
  text-align: center;
  margin: 0 auto;
  width: 80%; }
  #mapa iframe {
    width: 100%;
    height: 20rem; }

#home-form {
  justify-content: space-evenly; }
  #home-form div ul div {
    justify-content: center; }
  #home-form div ul li {
    font-size: 1.5rem;
    list-style: none; }
  #home-form div ul li:before {
    content: '✓ '; }
  #home-form form {
    margin-top: 10px;
    width: 75%; }
    #home-form form input[type='submit'],
    #home-form form .send-form {
      width: auto;
      font-size: 1.5rem;
      margin-top: 5px;
      padding: 0 5px 0 5px; }

#newsletter-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa; }
  #newsletter-section h3 {
    font-size: 2rem; }
  #newsletter-section p {
    font-size: 1rem; }
  #newsletter-section #newsletter {
    text-align: center; }
    #newsletter-section #newsletter #newsletterEmail:focus {
      width: 60%; }

.galeriaPrincipal img, .cargarMas img {
  width: 100%;
  margin-bottom: 10px; }

.galeriaPrincipal button, .cargarMas button {
  margin: 10px auto;
  width: auto;
  background-color: #39DBC0;
  font-size: 1.5rem;
  color: white;
  border-radius: 10px;
  cursor: pointer; }

.galeriaPrincipal h2, .cargarMas h2 {
  text-align: left;
  color: #f5772e; }

.cargarMas button {
  display: block;
  margin: 20 auto;
  padding: 5px; }

#design {
  margin-bottom: 4rem; }
  #design div .diseno {
    padding: 0px;
    border: 1px solid gray;
    padding: 15px;
    background-color: white; }
    #design div .diseno div img {
      width: 100%; }
    #design div .diseno p {
      padding-top: 5px;
      text-align: center;
      font-size: 1rem; }
  #design div .espacio-blanco {
    height: 3rem;
    background-color: white; }

/* NOSOTROS */
#owners {
  padding: 20px;
  align-items: center; }
  #owners div h2 {
    margin-bottom: 0px;
    padding: 10px;
    font-size: 2.5rem; }
  #owners div p {
    padding: 10px;
    font-size: 1rem; }
  #owners div img {
    width: 100%; }
  #owners div .owner-links {
    width: 30%; }

.owner-links, #owners div .owner-links {
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  .owner-links a, #owners div .owner-links a {
    margin: 5px !important;
    text-align: center;
    text-decoration: none; }

#colab-section h3 {
  text-align: center; }

#descripcionPrecios {
  text-align: center;
  margin: 20px auto 20px auto;
  width: 70%; }

#precios {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  display: block; }
  #precios h2 {
    color: #f5772e; }
  #precios table {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 30px; }
    #precios table td,
    #precios table th {
      border: 1px solid black; }

#error p {
  text-align: center;
  padding: 40px;
  font-size: 1.5rem; }

#error div {
  text-align: center; }
  #error div img {
    margin: 0 auto; }

footer {
  background-color: #f8f9fa;
  color: black; }
  footer a {
    text-decoration: none;
    color: black; }
    footer a:hover {
      color: #f5772e; }
  footer .pie-pagina {
    text-align: center; }
    footer .pie-pagina ul {
      padding-left: 0px; }
      footer .pie-pagina ul li {
        list-style-type: none;
        font-size: 1rem;
        margin: 10px; }
        footer .pie-pagina ul li:hover {
          color: #f5772e; }
  footer div p {
    text-align: center;
    font-size: 2rem; }

.row {
  margin-right: 0px !important; }

@media only screen and (max-width: 1400px) {
  nav li a {
    font-size: 2rem !important; }
  .espacio-blanco {
    height: 2rem !important; } }

@media only screen and (max-width: 1200px) {
  header {
    grid-template-columns: 25% 75%;
    align-items: center; }
    header .container-fluid {
      justify-content: flex-end; }
  nav li a {
    font-size: 1.5rem !important; }
  .espacio-blanco {
    height: 2rem !important; }
  #precios {
    width: 70%; } }

@media only screen and (max-width: 768px) {
  header {
    grid-template-columns: 30% 70%;
    align-items: center; }
    header .container-fluid {
      justify-content: flex-end; }
  .hide-mobile {
    display: none; }
  #precios {
    width: 80%; }
  #descripcionPrecios {
    width: 80%; } }

@media only screen and (max-width: 576px) {
  header {
    grid-template-columns: 40% 60%;
    align-items: center; }
  .hide-mobile {
    display: none; }
  .article-main {
    width: 70%; }
  #design {
    width: 80%;
    margin: 0 auto; }
  #precios {
    width: 90%; }
  #descripcionPrecios {
    width: 90%; } }

@media only screen and (max-width: 420px) {
  header {
    grid-template-columns: 40% 60%;
    align-items: center; }
  .hide-mobile {
    display: none; }
  .article-main {
    width: 70%; }
  #design {
    width: 80%;
    margin: 0 auto; }
  #precios {
    width: 90%;
    font-size: 0.75rem; }
  #descripcionPrecios {
    width: 90%; } }
