*{
	margin:0px;
	padding: 0px;
	height: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
	background-color: white;
}


/*Carrusel*/

.fotoCarrusel{
	display: flex;
	width: 100%;
	height: 45vw;
	object-fit: cover;
	margin-bottom: 30px;
   object-position: 0% 40%;
}
 

/* ARTICULOS */
#article-section{
	margin-top: 20px;
	margin-bottom: 70px;
}

#article-surround{
	display:flex;
	justify-content:space-evenly;
}
.article-main{
	width: 33%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: "imagen"
								"texto";
	align-items: center;
	justify-items: center;
}
.article-main article{
	
	text-align: center;
	width: 80%;
	font-size: 1.5vw;
	grid-area: texto;

}
.img-article-main{
	width:80%;
	object-fit: contain;
	grid-area: imagen;
}

/* NEWSLETTER */
#newsletter-section{
	display: flex;
	align-items: center;
	justify-content: center;
	padding:20px;
	background-color: rgb(135, 145, 156);
}

#newsletter{
	width: 50%;	
	text-align: center;
	font-size: 1.5vw;
}
#newsletter h3{
	font-size: 3vw;
}
#newsletter p{
	font-size: 1.5vw;
}
form input{
	height: 2vw;
	margin:10px;
	font-size: 1.5vw;
	transition: all 2s;
}

#newsletter input[type='submit']{
	height: 2vw;
	border-radius: 10px;
}
#newsletterEmail:focus{
	width: 60%;
}


/* GALERIA */
.galeriaPrincipal{
	display: grid;
	text-align: right;
	width: 70%;
	margin:20px auto;
	column-gap: 10px;
	row-gap: 10px;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows:auto auto auto auto auto;
	grid-template-areas: "imagen1 imagen1 imagen2 imagen2"
								"imagen1 imagen1 imagen2 imagen2"
								"imagen3 imagen4 imagen5 imagen6"
								"imagen7 imagen7 imagen8 imagen8"
								"imagen7 imagen7 imagen8 imagen8";
								

	align-items: center;
}

#imagenPrincipal{
	grid-area: imagen1;
}

#imagenSecundaria{
	grid-area: imagen2;
}
#imagenTerciaria{
	grid-area: imagen7;
}
#imagenCuarta{
	grid-area: imagen8;
}
.imagenGaleria{
	width: 100%;
}
.imagenGaleria img{
	width: 100%;
}

/* NOSOTROS */
#owners{
	padding:20px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows:auto auto;
	grid-template-areas: "owner1 texto1 "
								"texto2 owner2";
	justify-content: space-evenly;
	align-items: center;
}
#owners div h3{
	padding: 10px;
	font-size: 2vw;
}
#owners div p{
	padding: 10px;
	font-size: 1.5vw;
}
#owner-one{
	width: 100%;
	grid-area: owner1;
}
#owner-one img{
	width: 100%;
}
#descripcionowner-one{
	grid-area: texto1;
}

#owner-two{
	width: 100%;
	grid-area: owner2;
}
#owner-two img{
	width: 100%;
}
#descripcionowner-one{
	grid-area: texto2;
}
#colaboradores{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: auto auto;
	grid-template-areas: "colaboradorUno 			imagenColaboradorDos 	colaboradorTres"
								"imagenColaboradorUno 	colaboradorDos 			imagenColaboradorTres";
	width: 75%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 15px;
}
#colaboradores div img{
	width: 100%;
	transition: all 2s;
}
#colaboradores div img:hover{
	transform: scale(2,2);
}
#colaboradores div p{
	width: 80%;
	margin:0 auto;
	font-size: 1.5vw;
}
#colaboradores div h3{
	font-size: 2vw;
}

#descripcionColaboradorUno{
	grid-area: colaboradorUno;
}
#descripcionColaboradorDos{
	grid-area: colaboradorDos;
}
#descripcionColaboradorTres{
	grid-area: colaboradorTres;
}
#colaboradorUno{
	grid-area: imagenColaboradorUno;
}
#colaboradorDos{
	grid-area: imagenColaboradorDos;
}
#colaboradorTres{
	grid-area: imagenColaboradorTres;
}

/* CONTACTO */
form span{
	font-size: 1vw;
}
#contacting-form{
	width: 50%;
	margin:0 auto;
	font-size: 1.5vw;
	margin-bottom: 50px;
}
#contacting-form input,
#contacting-form label,
#contacting-form select,
#contacting-form textarea{
	text-align: center;
	width: 70%;
	margin:0 auto;
	display: block;
}
#contacting-topic{
	height: 30px;
	font-size: 1.5vw;
}
.obligatory{
	font-size: 1vw;
	color: red;
}
#contacting-form input[type='checkbox'],
input[type='checkbox'] {
	display: inline;
	width:1.5vw;
	height:1.5vw;
	background-color:white;
	border-radius:5px;
}
#contacting-form input[type='reset'],
#contacting-form input[type='submit'],
input[type='submit']{
	width:20%;
	margin-top:10px;
	background-color: #39DBC0;
	color:white;
	border:white 1px solid;
	border-radius: 5px;
	cursor:pointer;
}

/* PRECIOS */
#precios{
	width: 50%;
	display: block;
	margin:0 auto;
	
}
#precios h2{
	color: rgb(245, 119, 46);
}

table{
	border: 1px solid black;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	
}
table td,
table th{
	border:1px solid black;	
}


/* FOOTER */
footer{
	font-weight: 100;
	display: flex;
	justify-content: space-evenly;
	background-image:linear-gradient(to bottom,#373a52,black) ;
	padding: 20px;
	color: white;

}

.pie-pagina{
	width: 33%;
	text-align: center;
}
#mapa{
	width: 100%;
	height: 100%;
	border: 0px;
}

footer ul{
	position: relative;
	top: 0px;
}
footer li{
	list-style-type: none;
	font-size: 1.5vw;
	margin:10px;
}
footer li:hover{
	color:rgb(245, 119, 46);
}
footer div p{
	font-size: 2.5vw;
	margin-bottom: 20px;
}
#redes{
	width: 50%;
	margin: 0 auto;
}
.red-social{
	margin: 10px;
	display: grid;
	grid-template-columns: 40% 60%;
	row-gap: 0px;
	grid-template-areas: "imagen texto";
	align-items: center;
}
footer div img{
	grid-area: imagen;
	width: 100%;
	
}
footer div span{
	grid-area: texto;
	font-size: 1.5vw;
}
footer div span:hover{
	color:rgb(245, 119, 46);
}

.ocupa-espacio-momentaneo{
	height: 500px;
}

@media only screen and (max-width:500px) {
	#article-surround{
		flex-direction: column;
		justify-content: center;
	}
	.article-main{
		width: 70%;
		margin: 10px auto 0px auto;
	}
	.hide-mobile{
		display: none;
	}
	footer{
		height: 100px;
	}
	#owners{
		display: flex;
		flex-direction: column;
		width: 60%;
		text-align: center;
		margin:5px auto 5px auto;
	}
}