
//colores
$colorVerde: #39DBC0;
$colorNaranja: rgb(245, 119, 46);
$backgroundMain: #f8f9fa;
$backgroundBody:rgb(250, 236, 210) ;
$colorNewsletter: #f8f9fa;
$colorTexto:black;


//parrafos
$textoMedio:1vw;
$textoGrande:1.5vw;
$textoChico:0.75vw;
$tituloChico:2vw;

