
//colores
$colorVerde: #39DBC0;
$colorNaranja: rgb(245, 119, 46);
$backgroundMain: #f8f9fa;
$backgroundBody:rgb(250, 236, 210) ;
$colorNewsletter: #f8f9fa;
$colorTexto:black;


//parrafos
$textoChico:0.75rem;
$textoMedio:1rem;
$textoGrande:1.5rem;
$tituloChico:2rem;
$tituloChicoMedio:2.5rem;
$tituloMedio:3em;
$tituloGrande:4.5rem;

