@import "variables.scss";
@mixin centrar($posicion,$ancho,$margin) {
	text-align: $posicion;
	margin:$margin;
	width: $ancho;
}

*{
	margin:0px;
	padding: 0px;
	height: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#topBar{
	height: 25px;
	display: flex;
	// align-items: flex-end;
	justify-content: flex-end;
	background-color: black;
	.miniRed{
		// text-align: right;
		height: 100%;
		a{
			img{
				height: 80%;
			}
		}
	}
}
header{
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-areas: "logo navbar";
	background-color: $backgroundMain;
	
	#logoImagen{
		grid-area: logo;
		
	}
	#logomenor{
		width: 100%;
	}

	nav{
		width: 100% !important;
		background-color: $backgroundMain !important;
		grid-area: navbar;
		.container-fluid{
			justify-content: flex-end !important;
		}
		.nav-link{
			color:black !important;
			
		}
		.nav-link:hover{
			color: orange !important;
		}
		li{
			justify-content: flex-end !important;
			width: 100%;
			padding-right: 50px;
			a{
				text-align: center;
				text-decoration: none;
				font-size: 2vw;
				font-family: 'Alfa Slab One', cursive;
				color: $backgroundMain;
				
			}
		}
	}
}
body{
	background-color: $backgroundBody;
}
#imagenHome{
	@include centrar(center,100% ,0 );
	height: 45vw;
	background-image: url(../img/carrusel/home5.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	color:white;
	text-shadow: 1px 1px black;
	h1{
		height: 60%;
		padding-top: 20%;
	 	font-size:$tituloGrande ;
	}
	p{
		font-size: $tituloChico;
		width:50%;
		margin: 0 auto;
	}
	form{
		@extend #contactForm ;
	}
}
#seccionEstadistica{
	display: flex;
	justify-content:space-around;
	text-align: center;
	background-color: #0000000F;
	opacity: 0.5;
	.cantidadEstadistica{
		font-size: $tituloGrande;
		margin-bottom: 0px !important;
	}
	.estadisticas{
		font-size: $tituloChico;
		margin-bottom: 0px !important;
		color: black;
	}
}

.fotoCarrusel{
	display: flex;
	width: 100%;
	height: 40vw;
	object-fit: cover;
	margin-bottom: 30px;
   object-position: 0% 35%;
}

h1{
	font-size: 3.5vw;
	text-align: center;
}
#llamadoAccion{
	padding-bottom: 50px;
	h3{
		font-size: $tituloChicoMedio;
		@include centrar(center,40% ,0 auto )
	}
	form{
		margin:0 auto;
		@extend #contactForm
	}
	#pasosForm{
		display: flex;
		justify-content: space-around;
		text-align: center;
		div{
			width:25%;
			.enumeracion{
				font-size: $tituloGrande;
			}
			.accion{
				font-size: $tituloChico;
			}
		}
	}
}

#seccionArticulos{
	margin-bottom: 70px;
	#englobaArticulos{
		display:flex;
		justify-content:space-evenly;
		div{
			margin: 1px solid black;
		}
		.articuloDestacado{
			padding:10px;
			width: 25%;
			display: grid;
			grid-template-columns: 100%;
			grid-template-areas: "imagen"
										"texto";
			align-items: center;
			justify-items: center;
			img{
				grid-area: imagen;
				width:80%;
				object-fit: contain;
			}
			article{
				@include centrar(center,80% ,0);
				font-size: 1vw;
				grid-area: texto;

			}
		}
	}
}
/* CONTACTO y Newsletter */
#contactForm{
	width: 50%;
	margin:0 auto;
	font-size: $textoGrande;
	margin-bottom: 30px;
	span{
		font-size: $textoChico;
	}

	input,
	label,
	select,
	textarea{
		@include centrar(center,70% ,0 auto );
		display: block;
	}
	#contactAsunto{
		height: 40px;
		font-size: $textoGrande;
	}
	.obligatorio{
		font-size: 1vw;
		color: red;
	}
	input[type='checkbox'] {
		display: inline;
		width:1vw;
		height:1vw;
		background-color:$backgroundMain;
		border-radius:5px;
	}
	input[type='reset'],
	input[type='submit']{
		margin: 0 auto;
		width:20%;
		background-color: $colorVerde;
		color:white;
		border:white 1px solid;
		border-radius: 10px;
		cursor:pointer;
	}
	#aceptarPoliticas{
		width: 35%;
		margin: 5px auto;
	}

}

h2{
	text-align: center;
	font-size: $tituloMedio;
	margin: 10px 0 20px 0;
}
#formularioHome{
	justify-content: space-evenly;
	div{
		font-size: $textoGrande;
		ul{
			list-style: none;
			display: grid;
			margin:0 auto;
			grid-template-columns: 30% 30% 30%;
			justify-content: space-around;
		}
		ul li:before {
			content: '✓ ';
		 }
	}
	form{
		@extend #contactForm ;
		margin-top: 10px;
		width:50%;
		input[type='submit'],
		.enviarForm{
			width: auto;
			margin-top: 5px;
			padding:0 5px 0 5px;
		}
	}
}
#secNewsletter{
	@extend #contactForm;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $colorNewsletter;
	#newsletter{
		text-align: center;
		font-size: $textoMedio;
		h3{
			font-size: $tituloChico;
		}
		p{
			font-size: $textoMedio;
		}
		#newsletterEmail:focus{
			width: 60%;
		}
	}
}

// Galeria
.galeriaPrincipal{
	display: grid;
	width: 70%;
	margin:20px auto;
	column-gap: 10px;
	row-gap: 10px;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows:auto auto auto auto auto;
	grid-template-areas: "imagen1 imagen1 imagen2 imagen2"
								"imagen1 imagen1 imagen2 imagen2"
								"imagen3 imagen4 imagen5 imagen6"
								"imagen7 imagen7 imagen8 imagen8"
								"imagen7 imagen7 imagen8 imagen8";
	align-items: center;
	#imagenPrincipal{
		grid-area: imagen1;
	}
	#imagenSecundaria{
		grid-area: imagen2;
	}
	#imagenTerciaria{
		grid-area: imagen7;
	}
	#imagenCuarta{
		grid-area: imagen8;
	}
	.imagenGaleria{
		width: 100%;
		img{
			width: 100%;
		}
	}
}

/* NOSOTROS */
#owners{
	padding:20px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows:auto auto;
	grid-template-areas: "owner1 texto1 "
								"texto2 owner2";
	justify-content: space-evenly;
	align-items: center;
	div {
		h3{
			padding: 10px;
			font-size: 2vw;
		}
		p{
			padding: 10px;
			font-size: $textoGrande;
		}
	}
}

#ownerUno{
	width: 100%;
	grid-area: owner1;
	img{
		width: 100%;
	}
}
#descripcionOwnerUno{
	grid-area: texto1;
}

#ownerDos{
	width: 100%;
	grid-area: owner2;
	img{
		width: 100%;
	}
}
#descripcionOwnerUno{
	grid-area: texto2;
}
#colaboradores{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: auto auto;
	grid-template-areas: "colaboradorUno 			imagenColaboradorDos 	colaboradorTres"
								"imagenColaboradorUno 	colaboradorDos 			imagenColaboradorTres";
	@include centrar(center,75%,0 auto);
	margin-bottom: 15px;
	div{
		img{
			width: 100%;
			transition: all 2s;
		}
		img:hover{
			transform: scale(2,2);
		}
		p{
			width: 80%;
			margin:0 auto;
			font-size: $textoMedio;
		}
		h3{
			font-size: 2vw;
		}
	}
}

#descripcionColaboradorUno{
	grid-area: colaboradorUno;
}
#descripcionColaboradorDos{
	grid-area: colaboradorDos;
}
#descripcionColaboradorTres{
	grid-area: colaboradorTres;
}
#colaboradorUno{
	grid-area: imagenColaboradorUno;
}
#colaboradorDos{
	grid-area: imagenColaboradorDos;
}
#colaboradorTres{
	grid-area: imagenColaboradorTres;
}

//Precios
#precios{
	@include centrar(center,50% ,0 auto);
	display: block;
	h2{
		color: $colorNaranja;
	}
	table{
		border: 1px solid black;
		width: 100%;
		margin-bottom: 30px;
		td,
		th{
			border:1px solid black;	
		}
	}
}

// FOOTER
footer{
	font-weight: 100;
	display: grid;
	grid-template-columns: 20% 20% 20% 40%;
	background-color: $backgroundMain;
	padding: 20px;
	color: $colorTexto;
	.piePagina{
		text-align: center;
		ul{
			position: relative;
			top: 0px;
			padding-left: 0px;
	
			li{
				list-style-type: none;
				font-size: $textoMedio;
				margin:10px;
			}
			li:hover{
				color:$colorNaranja;
			}
		}
	}
	div{
		p{
			text-align: center;
			font-size: $tituloChico;
			margin-bottom: 20px;
		}
		.red-social{
			margin: 10px;
			display: grid;
			grid-template-columns: 40% 60%;
			row-gap: 0px;
			grid-template-areas: "imagen texto";
			align-items: center;
			img{
				grid-area: imagen;
				width: 100%;
			}
			span{
				grid-area: texto;
				font-size: $textoGrande;
			}
			span:hover{
				color:$colorNaranja;
			}
		}
	}

	#redes{
		width: 50%;
		margin: 0 auto;
	}
}
@media only screen and (max-width:900px) {
	header{
		grid-template-columns: 30% 70%;
		.container-fluid{
			justify-content: flex-end;
		}
	}
	#englobaArticulos{
		flex-direction: column;
		justify-content: center;
	}
	.articuloDestacado{
		width: 50%;
		height: 40vw;
		margin: 10px auto 0px auto;
	}
	.hide-mobile{
		display: none;
	}
	footer{
		height: auto;
	}
	#owners{
		display: flex;
		flex-direction: column;
		@include centrar(center,60% ,5px auto 5px auto );
	}
}

@media only screen and (max-width:500px) {
	header{
		grid-template-columns: 40% 60%;
		align-items: center;
	}
	#englobaArticulos{
		flex-direction: column;
		justify-content: center;
	}
	.articuloDestacado{
		width: 50%;
		height: 40vw;
		margin: 10px auto 0px auto;
	}
	.hide-mobile{
		display: none;
	}
	footer{
		height: auto;
	}
	#owners{
		display: flex;
		flex-direction: column;
		@include centrar(center,60% ,5px auto 5px auto );
	}
}

